
        <title><%=title%></title>
        <div id="banner">
            <title><%=title%></title>
            <div class="contactbanner">
                <h1>Questions? Contact me!</h1>
            </div>
        </div>
    <div class="contactform">
    <form action=mailto:jack.he@ontariotechu.net ?subject=Signup Form method="post" enctype="text/plain" name="form">

        <label for="name">Name:</label>
        <input type="text" name="name" required placeholder="Enter your name"> <!--required is required field, placeholder hints at what goes into that field-->

        <label for="email">Email:</label>
        <input type="text" name="email" required placeholder="Enter your email">

        <label for="comments">Comments:</label>
        <textarea name="comments" cols="50" rows="9" required placeholder="Type your comments here"></textarea>

        <input type="submit" value="Click to submit">
    </form>
</div>

<%- include("layout") %>