
<title><%=title%></title>
<div class="box">
<h1>Jack's super cool website</h1>
<h2>Hi there!</h2>
<h2>Welcome to my home page!</h2>
<h2>Here you'll find the navigation links to the different parts of my website!</h2>
</div>


<%- include("layout") %> <!--Use the include function to include the layout.ejs file to make it cleaner-->

