<!DOCTYPE html>
<html lang="en">
    <head>
        <!--adding style sheets for different view ports (media query)-->
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>

        <meta charset="UTF-8">
    </head>
    <body>
        <header id="header">
            <div class="header container">
                <nav class="navList">
                    <h4>Navigation Links</h4>
                    <ul>
                        <li> <!--Since this is using expressJS you cant have .html, have to replace it with /index for example-->
                            <a href="/" class="navlink">Home</a> <!--/ sets it to the root file-->
                        </li>
                        <li>
                            <a href="/about" class="navlink">About</a>
                        </li>
                        <li>
                            <a href="/projects" class="navlink">Projects</a>
                        </li>
                        <li>
                            <a href="/contact" class="navlink">Contact Me</a>
                        </li>
                    </ul>
        </nav>
    </div>
</header>
<div class="contactfooter">
    <p>Contact: jackhe@ontariotechu.net</p>
    <p><!--Linking github-->
        https://github.com/JackHeOtech">
    </p> 
    <p>&copy; 2024 by Jack He</p>
</div>

<!--Script files-->
  <script src="/Scripts/app.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>


    </body>
</html>